.html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 1280px;
  text-align: center;
  margin: 20px auto;
  background-color: white
}

#remove-button {
  width: 35vw;
  height: 8vh;
  font-size: 2.5vw;

}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  /* border: solid 0.4px rgb(224, 157, 157); */
}

nav li {
  width: 25%;
  justify-content: space-between;
  text-align: center;
  border: solid 0.4px rgb(224, 157, 157);
}



.main-asidecontents {
  width: 95%;
  margin: 5%;
  background-color: rgb(255, 232, 193);
}

.area-select {

  display: flex;
  justify-content: space-between;
}


/*  Nav より上 */
/* ---------------------------- */
/*  Nav より下 */

.tab-lists {
  margin: 20px;
  width: 90%;
  height: 100%;
  padding-top: 2.5vh;
}

.tab-lists input {
  width: 23%;
  /* padding-left: 40px; */
  text-align: center;
}

.tab-lists select {
  width: 23%;
}

.input-box {
  width: 25%;
  height: 5vh;
  margin: 1.5% auto;

}


.main-contents {
  height: auto;
  display: flex;
  color: black;
  /* padding-top: 5vh; */
}

aside {
  text-align: left;
  vertical-align: middle;
  width: 34%;
  margin: 0.1em;
}

.nyuuryoku {
  width: 60px;
  border: solid 2px;
  margin: 1%;
}


.rei {
  width: 20px;
  border: solid 2px;
  margin: 1%;
}

.aside-content1,
.aside-content2,
.aside-content3 {
  border: solid 1.5px rgb(248, 196, 196);
  padding-top: 3%;
  padding-left: 5%;
  height: 300px;
  font-size: 20px;
  ;
}


#category {
  width: 12vw;
  height: 2vh;
  text-align: center;
}

/* category の調整CSS */
select {
  font-size: 25px;
}



.lunch-image {
  width: 230px;
  height: 70%;
  margin: 1%;
}



/* main コードはここから～ */

main {
  width: 84%;
  height: 1000px;
  margin: 20px;
  margin-top: 0px;
  border: solid 1.5px rgb(248, 196, 196);
}

.h1-wrap {
  width: 30%;
  margin: auto;
  font-size: 2.5vw;
  text-align: center;
}


/* main-contents1 */

.Tokyo {
  width: 93%;
  height: auto;
  margin: 5%;
  border: solid 1.5px rgb(248, 196, 196);
  background-color: #ffbd80;
}

.Oosaka {
  width: 93%;
  height: auto;
  margin: 5%;
  border: solid 1.5px rgb(248, 196, 196);
  background-color: #ffbd80;
}

.Tiba {
  width: 93%;
  height: auto;
  margin: 5%;
  border: solid 1.5px rgb(248, 196, 196);
  background-color: #ffbd80;
}

.Sizuoka {
  width: 93%;
  height: auto;
  margin: 5%;
  border: solid 1.5px rgb(248, 196, 196);
  background-color: #ffbd80;
}







.result h1 {
  font-size: 20px;
}

.result li {
  font-size: 15px;
}


main h1,
li {
  text-align: left;
}



.food-image {
  width: 55%;
  object-fit: cover;
  margin: 10px
}

section {
  display: flex;
  width: 80%;
  height: 60%;
  margin: auto;
}

.section-contents {
  padding-top: 2%;
}

section h1 {
  font-size: 30px;
}




.food-movie {
  margin: 4px
}